<!DOCTYPE html>
<html>
	<head>
		<style>
			body {
				padding: 0;
				margin: 0;
			}

			#center {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}

			#camera_viewer {
				width: 50vh;
				height: 50vh;
				overflow: hidden;
				display: block;
				object-fit: cover;
			}
		</style>
	</head>

        <body>
		<div id="center">
			<video id="camera_viewer"></video>
			<h3 id="location"></h3>
		</div>
        </body>
        
        <script src="jsQR.js"></script>
        <script>
                get_camera();
		function get_camera() {
			navigator.mediaDevices.getUserMedia({ video: true })
			.then((stream) => {
				let camera_viewer = document.getElementById("camera_viewer");
			
				camera_viewer.srcObject = stream;
				camera_viewer.play();

				scan_for_codes(stream, camera_viewer);
		    	})
			.catch((error) => {
				console.error(error);
			});
		}

		function scan_for_codes(stream, video) {
			let width = stream.getVideoTracks()[0].getSettings().width;
			let height = stream.getVideoTracks()[0].getSettings().height;

			let frame = document.createElement("canvas");
			frame.width = width;
			frame.height = height;
			let frame_ctx = frame.getContext("2d");

			setInterval(() => {
				frame_ctx.drawImage(video, 0, 0);

				let code = jsQR(frame_ctx.getImageData(0, 0, width, height).data, width, height);
				if (code)
					document.getElementById("location").innerHTML = code.data;
			}, 50);
		}
				
        </script>
</html>
