
@{
    ViewData["Title"] = "TeacherHome";
}

<div class="row">
    <aside class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">Classes</div>
                <button>New Class</button>
            </div>
            <div class="panel-body">

            </div>
        </div>
    </aside>
</div>

@section scripts {
    <script src="~/js/QRCodeGen.js"></script>
    <script src="~/js/TeacherHome.js"></script>
}